@model SinExWebApp20328800.Models.Recipient

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Recipient</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" }, onchange = "OnGeneralRecipientChange()" })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryBuilding, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryBuilding, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.DeliveryBuilding, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryStreet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryStreet, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.DeliveryStreet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryCity, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.DeliveryCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryProvince, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryProvince, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.DeliveryProvince, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryPostcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryPostcode, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.DeliveryPostcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", onchange = "OnGeneralRecipientChange()" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control", onchange = "OnNicknameChange()" } })
                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
    function OnNicknameChange() {
        var Nickname = $('#Nickname').val();
        $.ajax({
            url: '/Recipients/GetRecipientNickname',
            type: "GET",
            dataType: "JSON",
            data: { Nickname: Nickname },
            success: function (result) {
                if (result != null) {
                    $("#Nickname").val("");
                    alert("Error! The recipient with nickname " + Nickname + " already exists in " + result + "'s account\n");
                }
            }
        });
    }

    function OnGeneralRecipientChange() {
        var FullName = $('#FullName').val();
        var CompanyName = $('#CompanyName').val();
        var DepartmentName = $('#DepartmentName').val();
        var DeliveryBuilding = $('#DeliveryBuilding').val();
        var DeliveryStreet = $('#DeliveryStreet').val();
        var DeliveryProvince = $('#DeliveryProvince').val();
        var DeliveryCity = $('#DeliveryCity').val();
        var PhoneNumber = $('#PhoneNumber').val();
        var Email = $('#Email').val();
        $.ajax({
            url: '/Recipients/GetGeneralRecipient',
            type: "GET",
            dataType: "JSON",
            data: {
                FullName: FullName,
                CompanyName: CompanyName,
                DepartmentName: DepartmentName,
                DeliveryBuilding: DeliveryBuilding,
                DeliveryStreet: DeliveryStreet,
                DeliveryCity: DeliveryCity,
                DeliveryProvince: DeliveryProvince,
                PhoneNumber: PhoneNumber,
                Email: Email
            },
            success: function (result) {
                if (result != null) {
                    alert("Error! The recipient with the following information already exists in " + result + "'s account: \n\t" + "full name: " + FullName + "\n\t" + "company name: " + CompanyName + "\n\t" + "department name: " + DepartmentName + "\n\t" + "delivery address: " + DeliveryAddress + "\n\t" + "phone number: " + PhoneNumber + "\n\t" + "email address: " + Email + "\n\tPlease try agian by inputing something different!");
                }
            }
        });
    }

</script>