@model IEnumerable<SinExWebApp20328800.Models.Recipient>

@{
    ViewBag.Title = "Recipient Information";
}

<h2>Recipient Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAccount.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryBuilding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryProvince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryPostcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAccount.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryBuilding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryProvince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPostcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecipientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecipientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecipientID })
        </td>
    </tr>
}

</table>
