@model SinExWebApp20328800.Models.PickupLocation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PickupLocation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" , onchange = "OnNicknameChange()" } })
                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" , onchange = "OnLocationChange()" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
    function OnNicknameChange() {
        var Nickname = $('#Nickname').val();
        $.ajax({
            url: '/PickupLocations/GetPickupLocationNickname',
            type: "GET",
            dataType: "JSON",
            data: { Nickname: Nickname },
            success: function (result) {
                if (result != null) {
                    $("#Nickname").val("");
                    alert("Error! The pick up nickname " + Nickname + " already exists in " + result + "'s account\n");
                }
            }
        });
    }


    function OnLocationChange() {
        var Location = $('#Location').val();
        $.ajax({
            url: '/PickupLocations/GetLocation',
            type: "GET",
            dataType: "JSON",
            data: { Location: Location },
            success: function (result) {
                if (result != null) {
                    $("#Location").val("");
                    alert("Error! The pickup location " + Location + " already exists in " + result + "'s account\n");
                }
            }
        });
    }
</script>