@model IEnumerable<SinExWebApp20328800.Models.PickupLocation>

@{
    ViewBag.Title = "Pickup Location Information";
}

<h2>Pickup Location Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAccount.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAccount.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PickupLocationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PickupLocationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PickupLocationID })
            </td>
        </tr>
    }

</table>
