@model IEnumerable<SinExWebApp20328800.Models.Penalty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PenaltyCharge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PenaltyCharge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PenaltyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PenaltyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PenaltyID })
        </td>
    </tr>
}

</table>
