@model SinExWebApp20328800.ViewModels.RegisterCustomerViewModel
<div class="form-group">
    @Html.LabelFor(m => m.LoginInformation.UserName, new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.TextBoxFor(m => m.LoginInformation.UserName, new { @class = "form-control", @maxlength = "10" })
        @Html.ValidationMessageFor(m => m.LoginInformation.UserName, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(m => m.LoginInformation.Password, new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.PasswordFor(m => m.LoginInformation.Password, new { @class = "form-control", @maxlength = "15" })
        @Html.ValidationMessageFor(m => m.LoginInformation.Password, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(m => m.LoginInformation.ConfirmPassword, new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.PasswordFor(m => m.LoginInformation.ConfirmPassword, new { @class = "form-control", @maxlength = "15" })
        @Html.ValidationMessageFor(m => m.LoginInformation.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
</div>