@model IEnumerable<SinExWebApp20328800.Models.Shipment>

@{
    ViewBag.Title = "All Shipments";
}

<h2>All Shipments</h2>

@if (User.IsInRole("Customer"))
{
    <p>
        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("Multiple Confirmation(Pickup)", "MultipleConfirm")
    </p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmOrNot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupOrNot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveredOrNot)
        </th>
        <th>
            @if (User.IsInRole("Employee"))
            {
                <text>Sender User Name</text>
            }
            @if (User.IsInRole("Customer"))
            {
                @Html.DisplayNameFor(model => model.ReferenceNumber)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaybillId)
        </th>
        <th>
            @if (User.IsInRole("Employee"))
            {
                <text>Pickup Date Time</text>
            }
            @if (User.IsInRole("Customer"))
            {
                @Html.DisplayNameFor(model => model.ServiceType.Type)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPackages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientFullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmOrNot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupOrNot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredOrNot)
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {
                    @item.SenderShippingAccount.UserName
                }
                @if (User.IsInRole("Customer"))
                {
                    if (item.CancelledOrNot == false)
                    {
                        @item.ReferenceNumber
                    }
                    else
                    {
                        <s>@item.ReferenceNumber</s>
                    }
                }
            </td>
            <td>
                @if (item.CancelledOrNot == false)
                {
                    @item.WaybillId.ToString("0000000000000000")
                }
                else
                {
                    <s>@item.WaybillId.ToString("0000000000000000")</s>
                }
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {
                    @Html.DisplayFor(modelItem => item.PickupDate)
                }
                @if (User.IsInRole("Customer"))
                {
                    @Html.DisplayFor(modelItem => item.ServiceType.Type)
                }
            </td>
            <td>

                @Html.ActionLink(item.NumberOfPackages.ToString(), "../Packages/Index", new { WaybillId = item.WaybillId })
                @if (User.IsInRole("Customer") && item.CancelledOrNot == false && item.NumberOfPackages < 10 && item.ConfirmOrNot == false)
                {
                    @Html.ActionLink("Add Package", "../Packages/Create", new { WaybillId = item.WaybillId })

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientFullName)
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {

                    if (item.CancelledOrNot == false && item.ConfirmOrNot == true && item.PickupOrNot == false)
                    {
                        @Html.ActionLink("Pickup", "Pickup", new { id = item.WaybillId }) <text>|</text>

                    }
                    if (item.CancelledOrNot == false && item.ConfirmOrNot == true && item.PickupOrNot == true && item.DeliveredOrNot == false)
                    {
                        @Html.ActionLink("Terminated", "../Trackings/Create", new { WaybillId = item.WaybillId, terminated = true })<text>|</text>
                        @Html.ActionLink("Add tracking", "../Trackings/Create", new { WaybillId = item.WaybillId })<text>|</text>
    }
                    @Html.ActionLink("Details", "Details", new { id = item.WaybillId })
                }
                @if (User.IsInRole("Customer"))
                {
                    if (item.CancelledOrNot == false)
                    {
                        if (item.ConfirmOrNot == false)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.WaybillId })   <text>|</text>
                            @Html.ActionLink("Confirm", "Confirm", new { id = item.WaybillId })  <text>|</text>
                            @Html.ActionLink("Details", "Details", new { id = item.WaybillId }) <text>|</text>
                            @Html.ActionLink("Cancel", "Cancel", new { id = item.WaybillId })
                        }
                        else if (item.PickupOrNot == false)
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.WaybillId })  <text>|</text>
                            @Html.ActionLink("Cancel", "Cancel", new { id = item.WaybillId })
                        }
                        else
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.WaybillId })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.WaybillId })
                    }
                }
            </td>
        </tr>
    }

</table>

<p>Note: if a shipment waybill id is crossed out, then the shipment has been canceled by the user.</p>
