@model SinExWebApp20328800.ViewModels.RegisterCustomerViewModel
@{ 
    SinExWebApp20328800.Models.SinExWebApp20328800DatabaseContext db = new SinExWebApp20328800.Models.SinExWebApp20328800DatabaseContext();
    Model.Cities = new SelectList(db.Destinations, "City", "City");
}
<hr />
<h3>Business Information</h3>

<div class="form-group">
    @Html.LabelFor(model => model.BusinessInformation.ContactPersonName, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.ContactPersonName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.ContactPersonName, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.CompanyName, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.DepartmentName, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.DepartmentName, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.PhoneNumber, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.EmailAddress, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })

        @Html.ValidationMessageFor(model => model.BusinessInformation.EmailAddress, "", new { @class = "text-danger" })
    </div>
</div>
<hr />
<h3><br />Address Information</h3>
<div class="form-group">
    @Html.LabelFor(model => model.BusinessInformation.BuildingInformation, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.BuildingInformation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.BuildingInformation, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.StreetInformation, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.StreetInformation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.StreetInformation, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.City, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.BusinessInformation.City, Model.Cities , "Please select", new { @class = "form-control dropdwn" })
        @Html.ValidationMessageFor(model => model.BusinessInformation.City, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.ProvinceCode, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.ProvinceCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.ProvinceCode, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.PostalCode, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.PostalCode, "", new { @class = "text-danger" })
    </div>
</div>
<hr />
<h3><br />Credit Card Information</h3>
<div class="form-group">


    @Html.LabelFor(model => model.BusinessInformation.Number, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.Number, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.Number, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.SecurityNumber, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.SecurityNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.SecurityNumber, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.CardholderName, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.BusinessInformation.CardholderName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BusinessInformation.CardholderName, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.ExpiryMonth, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.BusinessInformation.ExpiryMonth, new SelectList(new List<string> { "1", "2", "3", "4", "5", "6", "8", "9", "10", "11", "12" }).ToList(), "Please select", new { @class = "form-control dropdwn" })
        @Html.ValidationMessageFor(model => model.BusinessInformation.ExpiryMonth, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.ExpiryYear, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.BusinessInformation.ExpiryYear, new SelectList(new List<string> { "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024", "2025", "2026", "2027", "2028", "2029", "2030" }).ToList(), "Please select", new { @class = "form-control dropdwn" })
        @Html.ValidationMessageFor(model => model.BusinessInformation.ExpiryYear, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.BusinessInformation.Type, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DropDownListFor(model => model.BusinessInformation.Type, new SelectList(new List<string> { "American Express", "Diners Club", "Discover", "masterCard", "UnionPay", "Visa" }).ToList(), "Please select", new { @class = "form-control dropdwn" })
        @Html.ValidationMessageFor(model => model.BusinessInformation.Type, "", new { @class = "text-danger" })
    </div>
</div>
