@model IEnumerable<SinExWebApp20328800.Models.Tracking>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shipment.SenderShippingAccount.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaybillId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shipment.SenderShippingAccount.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaybillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrackingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TrackingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TrackingID })
            </td>
        </tr>
    }

</table>
